@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html,body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121213;
}
.binary_to_decimal h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}
.binary_to_decimal {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background: #1a1a1f;
  border-radius: 0.2rem;
  border-width: thin;
  border-style: solid;
  border-color: #03535e;
  position: absolute;
  align-items: center;
  top:1%;
  left: 20px;
  transition: 0.5s;

  --primary-color: #007bff;
    --primary-color-light: #057FFF;
    --secondary-color: #ff7675;
    --background-dark-color: #F1F1F1;
    --background-dark-grey: #e4e4e4;
    --border-color: #cbced8;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3,127,255,.3);
    --white-color: #151515;
    --font-light-color: #313131;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #E4E4E4;
    --scrollbar-bg-color: #383838;
    --scrollbar-thump-color: #6b6b6b;
    --scrollbar-track-color: #383838;
}
.field {
  margin-bottom: 15px;
}
.field label {
  position: relative;
}
.field label input {
  font-size: 1rem;
  color: #fff;
  background: transparent;
  
  
  padding: 1rem 1.2rem;
  min-width: 100%;
  border: 1px solid #02a5ad;
  border-radius: 0.2rem;
}
.field label input:focus {
  border-color: #f8f8f8;
}
.field label p {
  color: #000000;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  background: #eef0f5;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}
.field label input:focus + p, .field label input:not(:placeholder-shown) + p {
  top: -20px;
  font-size: 0.9rem;
  color: #020202;
}
.field label input:not(:focus) + p {
  color: #000000;
}
button#btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #10121A;
  background: #404144;
  
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
}

div#error-msg {
  color: red;
  display: none;
}

h2 { 
  font-size: 30px; 
  letter-spacing: -1px; 
  color: #DFBF84; 
  text-transform: uppercase; 
  text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; 
  text-align: center; 
  line-height: 50px; }

.title {
  position: absolute;
  align-items: center;
  top:0%;

}

@media (max-width: 1440px) and (orientation: landscape)/*Baja resolucion______________________*/
{
  .binary_to_decimal {
    width: 100%;
    max-width: 700px;
    top:-120px;
    left: -70px;
    transform: scale(0.73)
  }

}

@media (max-width: 430px ) and  (orientation: portrait)
{
  .binary_to_decimal {
    width: 100%;
    max-width: 700px;
    top:-100px;
    position: absolute;
    left: 0%;
    transform: scale(0.75)
  }
}