@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  --negro: #000;
  --celeste: #2196f3;
  --violeta: #5809eb;
  --violetaClaro:#9198e5;
  --cosa:to top,#5809eb,#9198e5,#5809eb;
  --tuneado:#5809eb,#9198e5;
  --violeta1: #1c003b;
  --violeta2:#4b0374;
  --violeta3:#7f00b2;
  --violeta4:#bc4ed8;
 
  --valor:hsl(0, 100%, 50%);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html,body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--cosa));
  max-height: 100vh;
  overflow-y: hidden;
}


.binary_to_decimal h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--celeste)
}
.binary_to_decimal {
  position: relative;
  z-index: 1000;
  width: 600px;
  max-width: 8000px;
  padding: 0px;
  background: var(--violeta2);
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-right: 10px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  top: 2px;
  transition: 0.3s;
}
.binary_to_decimal2 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(8, 8, 8);
}
.binary_to_decimal2 {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 370px;
  padding: 20px;
  background: #fff;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-right: 10px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  top:-40px;
  transition: 0.3s;
  overflow: hidden;
  transform: scale(1);
  left: -143px;
  
}

.field {
  margin-bottom: -11px;
  
  margin-inline: 30px;
  
}
.field2 {
  margin-bottom: 30px;
  display: inline-block;
  color: #000;
  font-size: 1.3rem;
  font-size: 10px;
}
.field3 {
  margin-bottom: 7px;
  display: inline-block;
  color: #000;
  font-size: 1.3rem;
  font-size: 20px;
}
.field label {
  position: relative;
}

.field2 label {
  position: relative;
}

.field label input {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  background: rgba(139, 139, 139, 0.192);
  
  
  padding: 1rem 1.2rem;
  min-width: 100%;
  
  border-radius: 0.2rem;
  height: 0.1px;

  
}
.field2 label input {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background: transparent;
  
  
  padding: 1rem 1.2rem;
  min-width: 100%;
  
  border-radius: 0.2rem;
  height: 0.1px;
  text-transform: uppercase; 
  
}
.field3 label input {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background: transparent;
  
  
  padding: 1rem 1.2rem;
  min-width: 100%;
  
  border-radius: 0.2rem;
  height: 0.1px;
  text-transform: uppercase; 
  
}
.salidas{    
 

  display:inline-block;
  width: 110px;
  color: rgb(255, 251, 251);
  font-size: 0rem;
  text-transform: uppercase; 
  left: -100;
  margin-top: 19px;
  bottom: 0px;
}
.salidas5{    
  background:  #2195f394;
  border-radius: 5px;
  display:inline-block;
  width: 315px;
  color: rgb(255, 251, 251);
  font-size: 1.0rem;
  text-transform: uppercase; 
  left: 11%;
}
.salidasDec{    

  display:inline-block;
  width: 120px;
  color: rgb(255, 251, 251);
  font-size: 0rem;
  text-transform: uppercase; 
  left: 5%;
}
.salidasBit{    

  display:inline-block;
  width: 163.093px;
  color: rgb(255, 251, 251);
  font-size: 0rem;
  text-transform: uppercase; 
  left: 5%;
}
.salidas2{   
   
  background:  #2195f394;
  position: absolute;
  width: 154px;
  display:inline-block;
  color: #000;
  font-size: 1.1rem;
  text-transform: uppercase; 
  
}
.salidas3{   
   
  background:  #2195f394;
  width: 154px;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  
}

.salidas4{   
   
  background:  #2195f394;
  width: 314px;
  color: rgb(0, 0, 0);
  height: 30.1px;
  font-size: 1.1rem;
  text-transform: uppercase; 
}


.field label input:focus {
  border-color: #141111;
}
.field label p {
  color: #c40909;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.4rem;
  background: #000000;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  visibility: hidden;
}
.field label input:focus + p, .field label input:not(:placeholder-shown) + p {
  top: -20px;
  font-size: 0.9rem;
  color: #020202;
}
.field label input:not(:focus) + p {
  color: #000000;
  
}




button#btn {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: #252525;
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 1px solid white;
  margin-block:30px;
}

button#btn2 {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: #252525;
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 1px solid white;
}

div#error-msg {
  color: red;
  display: none;
}

div#error-msg2 {
  color: red;
  display: none;
}

h2 { 
  font-size: 30px; 
  letter-spacing: -1px; 
  color: #DFBF84; 
  text-transform: uppercase; 
  text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; 
  text-align: center; 
  line-height: 50px; }

h4 { 


  color: #070707; 
  text-transform: uppercase; 

}

.Datos{
  color: #d1d9dff3;
  text-transform: uppercase; 
  display: inline-block;
}
.title {
  position: absolute;
  align-items: center;
  top:0%;

}

@media (max-width: 1440px) and (orientation: landscape)/*Baja resolucion______________________*/
{
  .binary_to_decimal {
    width: 100%;
    max-width: 600px;
    top:1%;
    left: -7%;
    transform: scale(0.67);
    
  }
  .binary_to_decimal2 {

    top:1%;
    left: -8%;
    transform: scale(0.77);
  }

}

@media (max-width: 430px ) and  (orientation: portrait)
{
  .binary_to_decimal {
    width: 330px;
    max-width: 900px;
    top: -100px;
    position: absolute;
    left: -10%;
    transform: scale(0.75);
  }
  .binary_to_decimal2 {
    width: 330px;
    max-width: 900px;
    top: 700px;
    position: absolute;
    left: -10%;
    transform: scale(0.75);
  }
}





* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #e3ddd9 50%, #36221c 50%);
  font-family: 'Raleway', sans-serif;
}

.titulo {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 40px;
  color: #fff;
}

.subtitulo {
  margin: 0;
  color: #000;
  display: inline;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.sabor { 
  color: #fff;
  margin: 7px 0;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

.linea-division {
  width: 80%;
  height: 2px;
  background-color: #36221c;
}
.carousel{
  min-height: 1200px;
}


.carousel .carousel-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  width: 500px;
  height: 500px;
  
}

.carousel .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}

.container{
  
  margin: 0px;

  top: 2px;
  width: 100%;
  
}